*.pyc
*.png
*.csv
*.txt
*.stackdump
*.out
*.log
*.tar.gz
__pycache__
.vscode
*.egg-info
*Rhistory
.venv/

sandbox*.py
tmp/
checkpoints/
.idea
cfg/*.yml
cfg/*.sh
cfg/**/*.yml
cfg/**/*.sh

job.sh
lr_find_temp_model.ckpt
sb.sh
.pytest_cache/
sb/

# Exceptions
!requirements.txt
!cfg/config_template.yml
!cfg/private_template.yml
!cfg/dataset_archive.yml
